@import "tailwindcss";

/* Light mode (default) */
:root {
  --background: 38, 25%, 98%;
  --foreground: 140, 25%, 15%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 215 20.2% 65.1%;

  --primary: 159, 100%, 33%;
  --primary-foreground: 0 0% 100%;

  --secondary: 144, 19%, 48%;
  --secondary-foreground: 222.2 84% 4.9%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 42, 57%, 60%;
  --accent-foreground: 0 0% 100%;
}

/* Dark mode */
.dark {
  --background: 140, 20%, 10%;
  --foreground: 140, 25%, 25%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 224.3 76.3% 48%;

  --primary: 159, 80%, 40%;
  --primary-foreground: 0 0% 100%;

  --secondary: 144, 15%, 35%;
  --secondary-foreground: 222.2 84% 4.9%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 42, 45%, 50%;
  --accent-foreground: 0 0% 100%;
}
